/* This is a css comment */
/* This is style.css for the dyanmic resume website. */

/* This file is organized as follows: 
   FONTS
   COLORS
   STRUCTURE
*/

/* FONTS */
#AboutMeSec, #EducationSection, #WorkSection {
    /* set font here*/
    font-family: 'Dosis', sans-serif;
}

#AboutMeSec h2, #EducationSection h2, #WorkSection h2 {
    /* set font here*/
    font-family: 'Ultra', serif;
    font-weight: 100;

}



/* COLORS */
:root{
   --LightColor: #FAF9F8;
   --LightColorTransparent: rgba(250, 249, 248, 0.275);
   
   --LightAccent: rgb(234, 151, 125);
   --LightAccentTransparent: rgba(234, 151, 125, 0.275);

   --BrandColor: rgb(55, 124, 232);
   --BrandColorTransparent: rgba(55, 124, 232, 0.275);

   --DarkAccent: rgb(97, 154, 232);
   --DarkAccentTransparent: rgb(97, 154, 232,.275);
   
   --DarkColor: rgb(35, 23, 46);
   --DarkColorTransparent: rgba(35, 23, 46, .275);

}

body{
    background: var(--LightColor);
}

aside, article{
    color:#17191F;
    /* From https://css.glass */
    background: var(--LightAccentTransparent);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--LightAccentTransparent);
    backdrop-filter: blur(3.4px);
    border: 1px solid rgba(241, 237, 237, 0.3);
    
}

header{
    background-repeat:repeat;
    background-size: 100%, auto;
    background-position-x: center, center;
    background: linear-gradient(to left, var(--BrandColor), var(--LightAccent)), url("../images/herringbone.png"), url("../images/pexels-skylar-kang-6045298.jpg");
    background-blend-mode: screen;
    color: var(--DarkAccent);
    
}

header h1:hover{
    font-size:600%;
    transition-property: font-size;
    transition-delay: 20ms;
    transition-duration: 1s;
}

header h1::before{
    content: ">";
}
header h1::after{
    content: "<";
}
header h1{
    font-size: 300%;
}

header a, header .ThisPage{
    font-size: 18px;
    text-decoration: none;
    color: var(--LightAccentColor);
    
}

a:link, a:visited{
    color: var(--LightAccentColor);
}




header li{
    padding: 2vh;
    background-color: rgba(198, 190, 190, 0.2);
    backdrop-filter: blur(3px);
}

main{
    background-size:auto;
    background-image: url("../images/herringbone.png");
    border-radius: 16px;
    font-size: larger;
}

footer{
    color: var(--BrandColor);
}

footer form{
    background: linear-gradient(to top left, var(--DarkAccentTransparent), var(--BrandColorTransparent));
    background-color: #f1eded;
}

.ExperienceList > li {
    /* From https://css.glass */
    background: rgba(105, 146, 190, 0.098);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(241, 237, 237, 0.3);
    color: #3e3e3e;
    
    margin:10px;
}

/* STRUCTURE */
header{
    justify-content: center;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0 10vw 0 10vw;
    
}


nav{
    align-self: flex-end;
}

nav ul{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:600px)
{
    nav{
        align-self: center;
    }
    nav ul{
        flex-direction: column;
        width:100%;
    }
}

nav ul li{
    margin: 2em;
}

main{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    justify-content: space-between;
}

aside{
    flex-basis: 25vw;
}

.ResumeArticle{
    flex-basis: 90vw;
    display: flex;
    flex-direction: column;
}

aside, article{
    padding-left:1rem;
    padding-right: 1rem;
}

.ExperienceList{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.ExperienceList > li {
    flex-basis: 28%;
    padding:10px;
    
}

.ExperienceList img{
    margin:.5rem;
    max-width: 10%;
    
}


ul{
    list-style: none;
}

footer{
    padding:.5rem;
}

.JobSkillList, .JobSubSkillList{
    list-style-type:disc;
}

.SkillsList{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen  and (max-width:640px) {
    .SkillsList{
        flex-direction: column;
    }
}

form{
    width: 100%;
    display: flex;
    flex-direction: row;
}
form > * {
    flex-grow: 1;
    flex-basis: 100%;
}
form > .PersonalInfo {
    flex-grow: 0;
    flex-basis: 40em;
}
.FormList{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.FormInput{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1rem;
}

.FormInput > label{
    flex-basis: 10rem;
}

.FormInput > textarea{
    width: 100%; 
    max-width: 100%;
    
}

.RightFloater{
    float: right;
}
.LeftFloater{
    float: left;
}

.IsCard{
    width: 100%;
    border-radius: 10px;
    min-height: 75vh;
    align-items: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
    backdrop-filter: blur(4px);
}

.Card1{
    color:var(--BrandColor);
    fill: var(--BrandColor);
    font-family: 'Ultra', serif;
    font-weight: 700;
}

.Card2{
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/RyanSteffesPhotographer.jpg");
    
}

.Card3{
    background-color: var(--DarkAccent);
    color: var(--LightColor);
    font-size: larger;
    background-attachment: fixed;
    background-size:cover;
    background-position: center;
    background-image: url("../images/pexels-sven-huls-3801347.jpg");
    display: flex;
    flex-direction: row;
    justify-content:center;
    
}

.Card3 ul, .Card3 h4{
    background-color: var(--DarkAccentTransparent);
    backdrop-filter: blur(15px);
    padding: 5%;
}

.Card3 ul{
    margin-left: 2vw;
}

.Card3 li{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Card3 li label{
    flex-basis: 50%;
    flex-shrink: 0;
}